* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-Inter-Tight;
  font-style: normal;
  font-display: swap;
  margin: 8px;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  max-width: 1584px;
  margin: auto;
  overflow: hidden;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: calc(1284px + 32px);
  margin: 0 auto;
  padding: 0 16px;
}

.section-top {
  margin-top: 160px;
}

.btn-white {
  transition: .3s ease;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #FFFFFF80;
    color: $color-white;
    backdrop-filter: blur(10px);
    background: #FFFFFF1A;
  }
}
