// fonts
$font-Inter-Tight: "Inter Tight", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-white2: #FDFFFB;
$color-green-light: #B6E28A;
$color-green: #1AB248;
$color-dark: #3C463F;
// colors
