// fonts
$font-Inter-Tight: "Inter Tight", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-white2: #FDFFFB;
$color-green-light: #B6E28A;
$color-green-light2: #ECF7E1;
$color-green: #1AB248;
$color-dark: #3C463F;
$color-dark-75: #3C463FBF;
// colors
