// model
.model {
  padding: 100px 0;

  @include media('lg') {
    padding: 52px 0;
  }

  h2 {
    font-weight: 700;
    font-size: 70px;
    line-height: 76px;
    letter-spacing: -2%;
    color: $color-dark;
    margin-bottom: 24px;
    text-align: center;

    i {
      font-style: italic;
      display: block;
      color: $color-green;
    }

    @include media('lg') {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 16px;
    }
  }

  .tabs-container {
    overflow: hidden;

    .tab-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 60px;

      @include media('lg') {
        margin: 0 auto 32px auto;
        max-width: 400px;
      }

      .tab-btn {
        border-radius: 20px;
        height: 60px;
        border: 2px solid $color-green-light;
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 2px 26px 2px 2px;

        @include media('lg') {
          height: 48px;
          gap: 12px;
          padding: 2px 16px 2px 2px;
          border-radius: 16px;
        }

        img {
          display: flex;
          flex-shrink: 0;
          width: 52px;
          height: 52px;
          border-radius: 16px;

          @include media('lg') {
            width: 40px;
            height: 40px;
            border-radius: 12px;
          }
        }

        span {
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: $color-dark;

          @include media('lg') {
            font-size: 13px;
            line-height: 17px;
          }
        }

        &.active {
          background: $color-green;
          border: 2px solid $color-green;

          span {
            color: $color-white;
          }
        }
      }
    }

    .tab-content {

      .content {
        display: none;
        animation: fadeIn 0.4s ease;

        &.active {
          display: block;
        }
      }

      .content_title {
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        letter-spacing: -2%;
        text-align: center;
        color: $color-dark;
        margin-bottom: 24px;

        @include media('lg') {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 16px;
        }
      }

      .content_in {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 12px;
        justify-content: center;

        @include media('xl') {
          grid-template-columns: repeat(4,1fr);
        }

        @include media('md') {
          grid-template-columns: 1fr;
          gap: 4px;
        }
      }

      .content_block {
        grid-column: span 2;
        background: $color-green-light2;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 32px;
        border-radius: 40px;

        &:nth-child(4) {
          grid-column: 2 / span 2;
        }

        &:nth-child(5) {
          grid-column: 4 / span 2;
        }

        &:last-child:nth-child(3n+1) {
          grid-column: 3 / span 2;
        }

        @include media('xl') {
          &:nth-child(4),
          &:nth-child(5),
          &:last-child:nth-child(4n + 1) {
            grid-column: span 2;
          }

          &:last-child:nth-child(2n + 1) {
            grid-column: 2 / span 2;
          }
        }

        @include media('lg') {
          border-radius: 24px;
          padding: 20px 24px;
          gap: 8px;
        }

        @include media('md') {
          grid-column: span 1 !important;
        }

        &-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        h3 {
          font-weight: 700;
          font-size: 22px;
          line-height: 28px;
          color: $color-dark;

          i {
            display: block;
            font-style: italic;
            color: $color-green;

            @include media('lg') {
              display: inline;
            }
          }

          @include media('lg') {
            font-size: 18px;
            line-height: 22px;
          }
        }

        .icon {
          width: 60px;
          height: 60px;
          border-radius: 20px;
          background: $color-green;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          justify-content: center;

          @include media('lg') {
            border-radius: 8px;
            width: 32px;
            height: 32px;
          }

          img {
            @include media('lg') {
              width: 16px;
              height: 16px;
            }
          }
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: $color-dark-75;

          @include media('lg') {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
// model
